.home__skills{
    max-width: 600px;
    padding: 0 0 3rem;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;

    .home-skill{
        text-align: center;
        min-width: 60px;
        padding: 4px 10px;
        font-weight: 400;
        border-radius: 25px;
        text-transform: capitalize;
        letter-spacing: 1px;
        @extend %popularTras;

        &:hover{
            background-color: rgba(255,255,255,.2);
            color: #fff;

            background-color:#ccc;
            color: #000;
        }
    }
}

.app.light{
    .home__skills{
        .home-skill{
            color: #fff;
            background: #222 !important;
            border: 1px solid #ddd;
            &:hover{
                background: rgba(0,0,0,.7) !important;
                color: #fff;
            }
        }
    }
}
.app.dark{
    .home__skills{
        .home-skill{
            @include skill(#ddd , transparent);
            &:hover{
                background-color: rgba(255,255,255,.2);
                color: #fff;
            }
        }
    }
}