.home__algorithm{
    max-width: 900px;
    margin: 3rem auto;
    position: relative;
    padding: 25px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: var(--algorithmBg-color);
    box-shadow: inset -1px 1px 2px 1px  rgba(255, 255, 255, 0.2),
                inset 1px -1px 2px 1px rgba(255, 255, 255, 0.2),
    ;
    border-radius: 50px;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:#00000031;
        opacity: .5;
        z-index: -1;
    }

    .header  {
        padding: 0 25px;
        margin-bottom: 2rem;

        h2{
            font-size:2.2rem;
            font-weight: 900;
            font-family: "Jersey 25", sans-serif;
            letter-spacing:3px;
        }

        a{
            text-decoration: underline;
            
        }
    }

    .solutions{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1.2rem .5rem;

        a{
            padding: 15px 30px;
            font-weight: 500;
            background-color: var(--mainBg-color);
            border: 1px solid #ccc;
            border-radius: 35px;
            @extend %popularTras;

            &:hover{
                background-color: #888;
                color: #fff;
            }
        }
    }
}