.home__top{

    $large : 900px;
 
    @include min-width($large){
        padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    margin-bottom: 100px;

    .home__img{
        flex: 1;
        max-width: 350px;
        aspect-ratio: 1 / 1.3;
        -webkit-aspect-ratio: 1 / 1;
        -moz-aspect-ratio: 1 / 1;
        -o-aspect-ratio: 1 / 1;
        border-radius:50%;
        overflow: hidden;
        border: 3px solid var(--mainSpecial-color) ;
        border-radius: 0 !important;
        outline: 2px solid #ccc;

         @include min-max-width(0,900px){
            margin: 4rem auto 3rem;
         }

        img{
           width: 100%;
            height: 100%;
        }
    }

    .home__intro{
        flex: 1;
        .home__name{

            font-size: 1.2rem;
            font-weight: 500;
            

            > span{
                padding-left: .5rem;
            }

            .spec{
                font-weight: 700;
            }

            @include min-width($large){
                font-size: 2rem;
            }
        }

        .home__job{
            position: relative;
            font-size: 2.5rem;
            font-weight: 900;
            max-width: fit-content;
            color: var(--mainSpecial-color);
            @include min-max-width(0,$large){
                margin-top: 1rem;
                &:after{
                    display: none;
                }
            }
        }

        .home-__desc{
            font-size: 1.25rem;
            line-height: 2;
            margin-bottom: 1rem;
            color: var(--subText-color);

            .spec{
                padding: 0 5px;
            }
        }

    }

    @include min-max-width(0,900px){
        .home__name{
            font-size: 1.3rem;
        }
        .home__job {
            font-size: 1.7rem;

            &:after{
                bottom: 5px !important;
            }
        }
    }
}

@keyframes home-job {
   /* 0%{
        opacity: .1;
    }
    100%{
        opacity: 1;
    } */
}