.home__top{

    $large : 900px;
 
    @include min-width($large){
        padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 4rem;
    }

    margin-bottom: 100px;

    .home__img{
        flex: 1;
        max-width: 400px;
        aspect-ratio: 1 / 1;
        -webkit-aspect-ratio: 1 / 1;
        -moz-aspect-ratio: 1 / 1;
        -o-aspect-ratio: 1 / 1;
        border-radius:50%;
        overflow: hidden;
        border: 20px solid var(--mainSpecial-color) ;
        outline: 3px solid #ccc;
       /* outline: 10px solid #000;
        box-shadow: -10px -10px 5px 5px var(--subSpecial-color) ,
         10px 10px 5px 5px var(--subSpecial-color),
         -10px 10px 5px 5px var(--subSpecial-color),
         10px -10px 5px 5px var(--subSpecial-color); */

         @include min-max-width(0,900px){
            margin: 4rem auto 3rem;
         }

        img{
           width: 100%;
            height: 100%;
        }
    }

    .home__intro{
        flex: 1;
        .home__name{

            font-size: 1.2rem;
            font-weight: 500;
            

            > span{
                padding-left: .5rem;
            }

            .spec{
                font-weight: 700;
            }

            @include min-width($large){
                font-size: 2rem;
            }
        }

        .home__job{
            position: relative;
            font-size: 2.5rem;
            font-weight: 900;
            //margin-bottom: .5rem;
            max-width: fit-content;
            /*background: linear-gradient(180deg, #fd2b6a 40% , #dd7290);
            background-clip: text;
            -webkit-text-fill-color: transparent;*/

            color: var(--mainSpecial-color);
            

            & span:not(.spec){
             //   color: var(--mainTxt-color);
             //   animation:home-job 2s linear infinite;
                

                @for $i from 1 through 10 {

                    @if $i < 10 {
                        &:nth-of-type(#{$i}){
                            animation-delay:#{'0.'  + $i}s;
                        }
                    }  
                }

                &:nth-of-type(10){
                    animation-delay: 1.1s;
                }
                &:nth-of-type(11){
                    animation-delay: 1.2s;
                }
                &:nth-of-type(12){
                    animation-delay: 1.3s;
                }
                &:nth-of-type(13){
                    animation-delay: 1.4s;
                }
                &:nth-of-type(14){
                    animation-delay: 1.5s;
                }
                &:nth-of-type(15){
                    animation-delay: 1.6s;
                }
                &:nth-of-type(16){
                    animation-delay: 1.7s;
                }
                &:nth-of-type(17){
                    animation-delay: 1.8s;
                }
                &:nth-of-type(18){
                    animation-delay: 1.9s;
                }
                &:nth-of-type(19){
                    animation-delay: 2s;
                }
                &:nth-of-type(20){
                    animation-delay: 2.1s;
                }
            }

            @include min-max-width(0,$large){
                margin-top: 1rem;
                &:after{
                    display: none;
                }
            }

        }

        .home-__desc{
            font-size: 1.25rem;
            line-height: 2;
            margin-bottom: 1rem;
            color: var(--subText-color);

            .spec{
                padding: 0 5px;
            }
        }

    }

    @include min-max-width(0,900px){
        .home__name{
            font-size: 1.3rem;
        }
        .home__job {
            font-size: 1.7rem;

            &:after{
                bottom: 5px !important;
            }
        }
    }
}

@keyframes home-job {
   /* 0%{
        opacity: .1;
    }
    100%{
        opacity: 1;
    } */
}