@import '../components/contact/contact-info';
@import '../components/contact/send-mail';


.contact{
    padding-top:8rem;
    min-height:calc(100vh - 50px);
    
    & h1{
        text-align:center;
        font-weight:900;
    }

    & h2{
        text-transform: uppercase;
    }

    .container > p{
        line-height: 2;
    }

    .contact__content{
        padding: 3rem 0;
        gap: 3rem;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

