@import '../components/home/_intro.scss';
@import '../components/home/home-skills.scss';
@import '../components/home/home-projects';
@import '../components/home/_home-contact.scss';

.btns{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.main-btn{
    display: block;
    width: 220px;
    border-radius: .75rem;
    padding:.75rem;
    color: #fff;
    font-weight: 600 !important;
    background-color: var(--mainSpecial-color);
    text-align: center;

    i{
        font-weight: 900;
        font-size: 1.2rem;
        transition: transform .2s ease-in-out;
    }

    &:hover{
        i{
            transform: translateX(5px);
        }
    }

    &.cv:hover{
        i{
            transform: translateY(-5px);
        }
    }

    span{
        padding-right: 5px;
    }
}