@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root .app{
    --mainSpecial-color:#fd2b6a;
    --subSpecial-l-color:darkcyan;
    

    --Jersey-font:"Jersey 25", sans-serif;
    --popp-font:"Poppins", sans-serif;

    --subText-color:#777;

    /* skills */

    --html-100:#FF5733;
    --html-50:#f192921e;

}


:root .app.dark{
    --bright-color:#000;
    --mainBg-color:#4a402e;
    --secondaryBg-color:#333;
    --projectBg-color:#4a402e;
    --algorithmBg-color:rgba(0, 0, 0, 0.3);
    --subBg-color:#837979; 
    --mainTxt-color:#fefefe;
    --light-Border:#777;
    --medium-Border:#333;
    --projectSkillBg-color:rgba(0,0,0,.3);
    --subSpecial-color:#0aaeff;
    --mainSpecial-color:#fd2b6a;
}

:root .app.light{
    --bright-color:#fff;
    --mainBg-color:#faebd7;
    --secondaryBg-color:#ddd;
    --projectBg-color:#4a402e;
    --algorithmBg-color:#4a402e;
    --subBg-color:#ccc;
    --mainTxt-color:#000;
    --light-Border:#ccc;
    --medium-Border:#777;
    --projectSkillBg-color:rgba(0,0,0,.4);
    --subSpecial-color:#ab00ff;
    --mainSpecial-color:#fd2b6a;
}


*,*::before,*::after{
   @include ability(box-sizing,border-box); 
   margin: 0;
   padding: 0;
}

body{
    margin: 0;
    font-family:"Poppins", sans-serif;
    color: var(--mainTxt-color);
}

.app{
    height: 100%;
    min-height: 100vh;
    background-color:var(--mainBg-color);
    background-color: #fdd6a3;
    color: var(--mainTxt-color);
}

/* reset */

a{
    text-decoration: none;
    color: inherit;
}

button{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style: none;
}


/* classes */

.special{
    color: var(--mainSpecial-color);
}

.container{
    @extend %container;
}

.Jersey-font{
    font-family:var(--Jersey-font);
}

.poppins-font {
    font-family:var(--popp-font);
  }

.flex-center{
    @extend %flex-center;
}

.center-between{
    @extend %center-between;
}

.full-w{
    width: 100%;
}

.full-h{
    height: 100%;
}

.full-size{
    width: 100%;
    height: 100%;
}

.full-screen{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.text-center{
    text-align: center;
}

.colors-trans{
    transition: color .3s ease-in-out , background-color .3s ease-in-out;
}

.main-hr{
    border: none;
    outline: none;
    padding: 0;
    margin: 1rem auto;
    height: 2px;
    border-radius: 2px;
    background-color: var(--subSpecial-color);
}


.page {
   background: var(--mainBg-color); 
   overflow: hidden;
}

.container{
    background: var(--mainBg-color) !important; 
}


.page-heading{
    font-size: calc(2rem + 1.5vw);
    font-weight: 900 !important;
    margin: 2rem 0 0;
    text-align: center;

    .spiceal{
        color: var(--subSpecial-color);
    }
}

.page__story{
    text-align: center;
    line-height: 1.8;
    margin:1rem auto;
    max-width: 700px;
    padding: 0 1rem;
    a{
        padding: 0 2px;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--subSpecial-color);
    }

    span{
        padding: 0 5px;
        font-size: 1.1rem;
        font-weight: 500;
        color:var(--subSpecial-color);
    }
    
}

/* observer */

.obs{
    transition-property: transform !important;
    transition-duration: .5s !important;
    transition-timing-function: ease-in-out !important;
}


.scalable{
    transform: scale3d(1,0,1);
}

.scale{
    transform: scale3d(1,1,1);
}

.trans-right{
    transform: translateX(-100%);
}
.trans-left{
    transform: translateX(100%);
}

.back-to-place{
    transform: translateX(0);
}


// delay

.del-sm{
    transition-delay: .1s !important;
}
.del-md{
    transition-delay: .2s !important;
}
.del-lg{
    transition-delay: .3s !important;
}
.del-hg{
    transition-delay: .6s !important;
}
