@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root .app{
    --mainSpecial-color:#fd2b6a;
    --subSpecial-l-color:darkcyan;
    

    --Jersey-font:"Jersey 25", sans-serif;
    --popp-font:"Poppins", sans-serif;

    --subText-color:#777;
    --subText-color:#000;

    /* skills */

    --html-100:#FF5733;
    --html-50:#f192921e;

    --layoutBg:#2b4352;

}


:root .app.dark{
    --bright-color:#000;
    --against-color:#fff;
    --mainBg-color:#12212e;
    --secondaryBg-color:#333;
    --projectBg-color:#4a402e;
    --skillBg-color:transparent;
    --algorithmBg-color:rgba(0, 0, 0, 0.3);
    --subBg-color:#837979; 
    --mainTxt-color:#fefefe;
    --subText-color:#ccc;
    --largeText-color:#eee;
    --light-Border:#777;
    --medium-Border:#333;
    --projectSkillBg-color:rgba(0,0,0,.3);
    --subSpecial-color:#0aaeff;
    --mainSpecial-color:#fd2b6a;
}

:root .app.light{
    --bright-color:#fff;
    --against-color:#000;
    --mainBg-color:#a39fb1;
    --secondaryBg-color:#ddd;
    --projectBg-color:#4a402e;
    --algorithmBg-color:#4a402e;
    --skillBg-color:#87819f;
    --skillBg-color:transparent;
    --subBg-color:#ccc;
    --mainTxt-color:#000;
    --subText-color:#111;
    --largeText-color:#1c1c1c;
    --light-Border:#ccc;
    --medium-Border:#777;
    --projectSkillBg-color:rgba(0,0,0,.4);
    --subSpecial-color:#ab00ff;
    --subSpecial-color:darkgreen;
    --mainSpecial-color:#2424f5cf;
}


*,*::before,*::after{
   @include ability(box-sizing,border-box); 
   margin: 0;
   padding: 0;

   scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family:"Poppins", sans-serif;
    color: var(--mainTxt-color);
    color: #000;
}

.app{
    height: 100%;
    min-height: 100vh;
    background-color:var(--mainBg-color);
    color: var(--mainTxt-color);
    overflow: hidden;
    perspective: 1000px;
}

/* reset */

a{
    text-decoration: none;
    color: inherit;
}

button{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style: none;
}

p{
    text-transform: lowercase;
}

/* classes */

  .spec{
    color: var(--mainSpecial-color);
}

.special{
    color: var(--subSpecial-color);
}

.sub{
    color:green;
}

.container{
    @extend %container;
}

.Jersey-font{
    font-family:var(--Jersey-font);
}

.poppins-font {
    font-family:var(--popp-font);
  }

.flex-center{
    @extend %flex-center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-5{
    gap: .5rem
}
.gap-1{
    gap: 1rem
}

.center-between{
    @extend %center-between;
}


.center-around{
    @extend %center-between;
    justify-content: space-around;
    gap: 1rem;
}

.flex-1{
    flex: 1;
}

.full-w{
    width: 100%;
}

.full-h{
    height: 100%;
}

.full-size{
    width: 100%;
    height: 100%;
}

.full-screen{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.text-center{
    text-align: center;
}

.colors-trans{
    transition: color .3s ease-in-out , background-color .3s ease-in-out;
}

.main-hr{
    border: none;
    outline: none;
    padding: 0;
    margin: 1rem auto;
    height: 2px;
    border-radius: 2px;
    background-color: var(--subSpecial-color);
}


.page {
    position: relative;
    background:var(--mainBg-color);
   overflow: hidden;
}

.home{
    position: relative;
    background:transparent;
    overflow: hidden;
    z-index: 0;
}

.container{
    
}


.page-heading{
    font-size: calc(2.1rem + 1.5vw);
    font-weight: 900 !important;
    margin: 2rem 0 0;
    text-align: center;
    color: var(--largeText-color);

    .spiceal{
        color: var(--subSpecial-color);
    }

    @media (min-width:500px){
        font-size: calc(2.5rem + 1.5vw);
    }
}


.page__story{
    text-align: center;
    line-height: 1.8;
    margin:1rem auto;
    max-width: 700px;
    padding: 0 1rem;
    a{
        padding: 0 2px;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--subSpecial-color);
    }

    span{
        padding: 0 5px;
        font-size: 1.1rem;
        font-weight: 500;
        color:var(--subSpecial-color);
    }
    
}

/* observer */

.obs{
    transition-property: transform !important;
    transition-duration: .5s !important;
    transition-timing-function: ease-in-out !important;
}

.fast-trans {
    transition-duration: .2s !important;
}


.scalable{
    transform-origin: center center;
    transform: scale3d(0,0,0);
    opacity: 0;
}

.scale{
    transform: scale3d(1,1,1);
    opacity: 1;
}

.trans-right{
    transform: translateX(-100%);
}
.trans-left{
    transform: translateX(100%);
}
.trans-bottom{
    transform: translateY(-100%);
}
.trans-top{
    transform: translateY(100%);
}



.back-to-place{
    transform: translateX(0);
}


// delay

.del-sm{
    transition-delay: .1s !important;
}
.del-md{
    transition-delay: .2s !important;
}
.del-lg{
    transition-delay: .3s !important;
}
.del-hg{
    transition-delay: .6s !important;
}


/***************************************/
/*
.animation-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.055);
    color: var(--against-color);
    z-index:1;
}

.animation-wrapper .star{
    position: fixed;
    animation: starts 2s linear infinite;
}

.animation-wrapper .star i{
    font-size: 18px;
}

.animation-wrapper .star:nth-child(1){
    left:60px;
    animation-delay: 0.6s;
    top: 25%;
}
.animation-wrapper .star:nth-child(2){
    left:10%;
    animation-delay:2s;
    top: 40%;
}
.animation-wrapper .star:nth-child(3){
    left:20%;
    animation-delay:5s;
    top: 15%;
}
.animation-wrapper .star:nth-child(4){
    left:26px;
    animation-delay:4s;
    top:67%;
}
.animation-wrapper .star:nth-child(5){
    left:40%;
    animation-delay:.5s;
    top: 85%;
}
.animation-wrapper .star:nth-child(6){
    left:50%;
    animation-delay:5s;
    top:23%;
}
.animation-wrapper .star:nth-child(7){
    left:60%;
    animation-delay:6s;
    top:65%;
}
.animation-wrapper .star:nth-child(8){
    left:70%;
    animation-delay:3.5s;
    top:12%;
}
.animation-wrapper .star:nth-child(9){
    left:80%;
    animation-delay:9s;
    top:75%;
}
.animation-wrapper .star:nth-child(10){
    left:90%;
    animation-delay:3s;
    top:14%;
}

@keyframes starts {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
*/

.animation-wrapper{
    display: none;
}