.project {
        padding: 10px;
        border-radius: .5rem;
        max-width:300px;
        min-width: 280px;
        flex: 1;
        background:#ccc;
        background: var( --projectBg-color);
        border: 1px solid #9999;
        color: #fff;
        

    .project__hero{
        padding: 25px 25px 0;
        background-color:#fdd08c;
        border-radius: .5rem;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

        .images{
            position: relative;
            flex: 1;
            display: flex;
            justify-content: flex-end;

          

            .front{
                position: relative;
                width: 148px;
                min-width: 148px;
                height: 180px;
                border-radius: 12px  12px 0  0;
                overflow: hidden;
                z-index: 1;
                border-bottom: 0;
                background: mediumpurple;
                border: 1px solid #777;
            }
    
            .back{
                position: absolute;
                bottom: 0;
                left: 0;
                max-width:240px;
                height: 140px;
                min-height: 140px;
                border-radius: 12px  12px 0  0;
                overflow: hidden;
                z-index: 1;
                border-bottom: 0;
                background: darkcyan;
                border: 1px solid #777;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .project__info{
        padding: 10px 5px;

        h3{
            font-size: 1.1rem;
            font-weight: 500;
            
        }
    }

    .project__footer{
        position: relative;
        padding: 10px 0 5px 0;
        .skills{
            display: flex;
            gap:.5rem;
    
            span{
                position: relative;
                min-width: 53px;
                padding: 2px 7px;
                border-radius:10px;
                font-size:15px;
                font-weight: 700;
                text-align: center;
                background:darkcyan;
                z-index: 1;
                cursor: pointer;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color:var(--projectSkillBg-color);
                    border-radius: inherit;
                    z-index: -1;
                }

                &.spa-skill{
                    border: 1px solid #2EDA7D;
                    color: #2EDA7D;
                    background-color:rgb(15 249 93 / 13%);
                }

                &.type-skill{
                    border: 1px solid #f9990a;
                    color: #f9990a;
                    background-color:rgb(225 165 75 / 9%);
                }

                &.style-skill{
                    border:1px solid #EDFF80;
                    color: #EDFF80;
                    background-color:#edff801a;
                }

                &.store-skill{
                    border: 1px solid #0db5b5;
                    color: #0db5b5;
                    background:#008b8b0a;
                }

                &.structure-skill{
                    border: 1px solid #fd2b6a;
                    color: #fd2b6a;
                    background:rgb(253 43 106 / 17%);
                }
            }
        }
    
        .more{
            .more__options{
                position: absolute;
                top: .5rem;
                right:10px;
                z-index: 10;
                background-color: var(--projectBg-color);
                border:1px solid #999;
                border-radius: 7px;
                opacity: 0;
                transition: opacity .3s ease-in-out;

                a {
                    display: block;
                    padding: 2px 7px;
                    border-radius: inherit;

                    &:hover{
                        background:#000;
                    }

                    &:first-child{
                        border-bottom:1px solid #999;
                    }
                }
                display: block;
            }
    
            .more__list{
                position: relative;
                padding-left:4px;
                font-size: 1.3rem;
                z-index: 12;
                background: var(--projectBg-color);
            }
        }
    }

}


.project.show-options{
    .more{
        .more__options{
            opacity: 1 !important;
        }
    }
}